<!DOCTYPE html>
<html lang = "en">

<head> <meta charset="UTF-8">
		<title>P5_QUIZ</title>
</head>

<body>
<h1>P5_QUIZ</h1>
<h2>Autores</h2>
<p> Miguel Lozano Torrequebrada y Carlos Gutierrez de la Azuela </p>
<a href="/"> HOME</a>

<a href="/quizzes">Quizzes</a>
</body>
</html>