<!Doctype html>
<html>
<head>
	<title>P5_QUIZ</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<a href= http://localhost:3000></a>
	<h1><%= title%></h1>
	<p>Quiz de <%=name%></p>
</body>
</html>
