<!Doctype html>
<html>
<head>
	<title>P5_Quiz</title>
	<link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
	<h1>Quizzes</h1>
	<ul>
	<% for (var i in quizzes) {%>
	<% const quiz=quizzes[i];%>
	<li>
		<%=quiz.question%> -> <%=quiz.answer %>
	</li>
	<% }
	%>
</body>
</html>
